/*
* @Author: 11911
* @Date:   2018-08-09 23:32:01
* @Last Modified by:   11911
* @Last Modified time: 2018-08-13 08:46:29
*/


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 44px;
	background: #000;
	padding-right: 158px;
	padding-left:  158px;
	display: flex;
	justify-content: space-between;

}
header a.list{
	display: none;
}
header a{
	font-size: 24px;
	color: #fff;
	line-height: 44px;
	text-decoration: none;
}
.iphoneX{
	width: 100%;
	height: 580px;
	background: #fafafa;
	background-image: url('../img/iphone_x_large.jpg');
	background-repeat: no-repeat;   
	background-position: center bottom;
	margin-bottom: 20px;

}
.iphoneX h3{
	text-align: center;
	font-size: 46px;
	padding-top: 40px;
	line-height: 60px;

}
.iphoneX p{
	text-align: center;
}
.iphone p span{
	font-weight: bold;
}
.iphoneX .link{
	text-align: center;
	margin-top: 10px;
}
.iphoneX a{
	color: blue;
	text-align: center;
	text-decoration: none
}
.ipad{
	width: 100%;
	height: 580px;
	background: #fafafa;
	background-image: url('../img/ipad_large.jpg');
	background-repeat: no-repeat;   
	background-position: center bottom;
}
.ipad h3{
	text-align: center;
	font-size: 46px;
	padding-top: 40px;
	line-height: 60px;
}
.ipad p{
	text-align: center;
}

.ipad .link{
	text-align: center;
	margin-top: 10px;
}
.ipad a{
	color: blue;
	text-align: center;
	text-decoration: none
}
.macbook{
	width: 100%;
	height: 580px;
	color: #fff;
	/* background: #131218; */
	background-image: url('../img/macbook_pro_performance_large.jpg');
	background-repeat: no-repeat;   
	background-position: center bottom;
}
.macbook h3{
	text-align: center;
	font-size: 46px;
	padding-top: 40px;
	line-height: 60px;
}
.macbook p{
	text-align: center;
}

.macbook .link{
	text-align: center;
	margin-top: 10px;
}
.macbook a{
	color: #fff;
	text-align: center;
	text-decoration: none
}
/* 列表 */
.adv{
	width: 100%;
	background: #fff;

}

.adv ul li{
	width: 50%;
	height: 580px;
	float: left;
	border: 14px solid #fff;
	border-bottom: none;
	background: #555;
}
.adv ul li:nth-child(5){
	border-bottom: 14px solid #fff;
}
.adv ul li:nth-child(6){
	border-bottom: 14px solid #fff;
}
.adv ul li:nth-child(2n+1){
	
	border-right: none;
}
/* 列表 图一 */
.adv ul .pic1{
	background-image: url('../img/shop_for_college_large.jpg');
	background-position: center;
}
.adv ul .pic1 .link{
	text-align: center;
	margin-top: 40px;
	/* width: 280px; */
	/* margin: 0 auto; */
}
.adv ul .pic1 .link a{
	color: #000;

}
.adv ul .pic1 .link a h3{
	text-align: center;
	font-size: 34px;
	/* padding-top: 40px; */
	line-height: 70px;
}
.adv ul .pic1 .link a p{
	display: block;
	width: 290px; 
	margin: 0 auto;

}
/* 列表 图二 */
.adv ul .pic2{
	background-image: url('../img/behind_the_mac_peter_large.jpg');
	background-position: center;
}
.adv ul .pic2 .link{
	text-align: center;
	margin-top: 350px;
	/* width: 280px; */
	/* margin: 0 auto; */

}
.adv ul .pic2 .link a{
	color: #fff;

}
.adv ul .pic2 .link a h3{
	text-align: center;
	font-size: 34px;
	/* padding-top: 40px; */
	line-height: 70px;
}
.adv ul .pic2 .link a i{
	font-style: normal;
	width: 290px; 
	margin: 0 auto;

}
/* 列表 图三 */
.adv ul .pic3{
	background-image: url('../img/iphone_x_a11_large.jpg');
	background-position: center;
}
.adv ul .pic3 .link{
	text-align: center;
	margin-top: 350px;
	/* width: 280px; */
	/* margin: 0 auto; */
	line-height: 40px;
}
.adv ul .pic3 .link a{
	color: #fff;

}
.adv ul .pic3 .link a h3{
	text-align: center;
	font-size: 34px;
	/* padding-top: 40px; */
	/* line-height: 70px; */
}
.adv ul .pic3 .link a p{
	font-style: normal;
	font-size: 20px;
	margin: 0 auto;
}
/* 列表 图四 */
.adv ul .pic4{
	background: #f9f0eb;
	background-image: url('../img/iphone_8_large.jpg');
	background-position: bottom center;
	background-repeat: no-repeat;
}
.adv ul .pic4 .link{
	text-align: center;
	margin-top: 40px;
	/* width: 280px; */
	/* margin: 0 auto; */
	line-height: 30px;
}
.adv ul .pic4 .link a{
	color: blue;

}
.adv ul .pic4 .link  h3{
	text-align: center;
	font-size: 34px;
	/* padding-top: 40px; */
	line-height: 50px;
	
}
.adv ul .pic4 .link  p{
	display: block;
	width: 290px; 
	margin: 0 auto;

}
/* 列表 图五 */
.adv ul .pic5{
	background-image: url('../img/trade_up_large.jpg');
	background-position: center;
}
.adv ul .pic5 .link{
	text-align: center;
	margin-top: 40px;
	/* width: 280px; */
	/* margin: 0 auto; */
}
.adv ul .pic5 .link a{
	color: #000;

}
.adv ul .pic5 .link a h3{
	text-align: center;
	font-size: 34px;
	/* padding-top: 40px; */
	line-height: 70px;
}
.adv ul .pic5 .link a p{
	display: block;
	width: 290px; 
	margin: 0 auto;

}
/* 列表 图六 */
.adv ul .pic6{
	background: #000;
	background-image: url('../img/three_rings_large.jpg');
	background-position: bottom center;
	background-repeat: no-repeat;
	
}
.adv ul .pic6 .link{
	text-align: center;
	margin-top: 40px;
	/* width: 280px; */
	/* margin: 0 auto; */
}
.adv ul .pic6 .link a{
	color: #fff;

}
.adv ul .pic6 .link a h3{
	text-align: center;
	font-size: 34px;
	/* padding-top: 40px; */
	line-height: 70px;
}
.adv ul .pic6 .link a p{
	display: block;
	width: 290px; 
	margin: 0 auto;

}
/* 底部 */
.bottom{
	width: 100%;
	background: #f4f4f4;	
	padding: 80px 80px;

}
.bottom ul li{
	width: 20%;
	height: 400px;
	float: left;
	padding-top: 10px;
	border-bottom: none;
	font-size: 14px;
	/* background: #f4f4f4; */
}
.bottom ul li a{
	font-size: 14px;
}
.bottom ul .pic1 a{
	display: block;
	color: #aaaaaa;
	margin-top: 10px;

}
.bottom ul .pic2 a{
	display: block;
	color: #aaaaaa;
	margin-top: 10px;
}
.bottom ul .pic3 a{
	display: block;
	color: #aaaaaa;
	margin-top: 10px;
}
.bottom ul .pic4 a{
	display: block;
	color: #aaaaaa;
	margin-top: 10px;
}
.bottom ul .pic5 a{
	display: block;
	color: #aaaaaa;
	margin-top: 10px;
}
.bottom ul li p{
	margin-top: 30px;	
}
.bottom ul .pic6{
	width: 100%;
	height: 40px;
	
	border-bottom: 1px solid #aaaaaa;
	color: #979797;
}
.bottom ul .pic6 span{
	font-size: 14px;
}
.bottom ul .pic6 h3 a{
	float: none;	
}
.site{
	width: 100%;
	height: 100px;
	/* display: flex; */
	padding: 10px 80px;
	font-size: 12px;
	color: #979797;
	float: left;
	background: #f4f4f4;
}
.site a{
	border-right: 1px solid #aaaaaa;
	height: 18px;
	padding: 0 5px;
	text-align: center;
	line-height: 18px;
	font-size: 12px;

}
.site .pic7{
	
	float: right;
	width: 40px;
	height: 18px;
	
}
.site .pic7 a{
	color: #000;
	border-right: 0;
}
/* main{
	width: 100%;
	height: 360px;
	background: #f4f4f4;
	padding: 27px 180px;
} */
/* .footer ul li{
	width: 196px;
	height: 300px;
	background-color:red;
} */
/* 中 */
@media screen and (max-width:1200px){
	.iphoneX{
		background-image: 
	}
}

/* 小 */
@media screen and (max-width:992px){
	header{
		padding-right: 18px;
		padding-left: 18px;
	}
	header a.list{
		display: inline;
	}
	header a.text{
		display: none;
	}
	.iphoneX{

		background-image: url('../img/iphone_x_small.jpg');
	}
	.iphoneX h3{
		padding-top: 20px;
	}
	.ipad{

		background-image: url('../img/ipad_small.jpg');
	}
	.ipad h3{
		padding-top: 20px;
	}
	.macbook{

		background-image: url('../img/macbook_pro_performance_small.jpg');
	}
	.macbook h3{
		padding-top: 20px;
	}
	.adv ul li{
		float: none;
		width: 
	}
	.bottom ul li{
		float: none;
	}

}
/* 小小屏 */
@media screen and (max-width:768px){
	
}
