/*
* @Author: 11911
* @Date:   2018-08-15 10:45:40
* @Last Modified by:   11911
* @Last Modified time: 2018-08-15 13:18:27
*/
/* 顶部 */
.top{
	width: 100%;
	height: 0.9rem;
	background: linear-gradient(to right,#fa7f24,#f2411e);
	position: fixed;
	z-index: 1;
	top: 0;
	padding: 0 0.24rem;
}

.top .top-pic{
	width: 100%;
	height: 100%;
}

.top .top-pic .pic1{
	width: 0.2rem;
	height: 100%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.top .top-pic .pic1 img{
	width: 0.15rem;
	height: 0.31rem;
}
.top .top-pic .pic2{
	width: 3.42rem;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top .top-pic .pic2 img{
	width: 3.42rem;
	height: 0.44rem;
}
/* 支付成功 */
.success{
	margin-top: 1.2rem;
	width: 100%;
	padding: 0 0.24rem;
}
.success .s-box{
	width: 100%;
	height: 2.44rem;
	border-radius: 0.2rem;
	background: #fff;
	box-shadow: 0 0.05rem 0.2rem rgba(255, 0, 0,0.1);
	padding: 0.4rem;
	color: #fe441f;
	display: flex;
	align-items: center;
	/* justify-content: center; */
}
.success .s-box img{
	width: 1.4rem;
	height: 1.4rem;
	margin-right: 0.4rem;
	/* display: block; */
	/* float: left; */


}
.success .s-box .text{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.success .s-box .text h4{
	font-size: 0.30rem;
	font-weight: normal;

}
.success .s-box .text p{
	font-size: 0.24rem; 
}
.success .s-box .text p span{
	font-size: 0.30rem;
}
.success .s-win{
	width: 100%;
	text-align: center;
	padding: 0.6rem;
	color: #f97d24;
	font-size: 0.3rem;
}
.success .s-next{
	width: 100%;
}
.success .s-next ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.success .s-next ul li{
	width: 1.82rem;
	height: 0.5rem;
	text-align: center;
	line-height: 0.5rem;
	font-size: 0.22rem;
	background: #f97d24;
	color: #fff;
	border-radius: 0.25rem;
}
.success .title{
	width: 100%;

}
.success .title img{
	width: 4.29rem;
	height: 0.48rem;
}
.success .list{
	padding: 0;
}